@import "../../assets/sass/_colors";

.navigation {
  display: flex;
  position: sticky;
  padding: 20px;
  box-shadow: 0px 3px 15px rgba(0,0,0,.4);
  background-color: $DEFAULT_COLOR;
}

.logo {
  flex: 1;

  > a {
    font-size: 1.4em;
    color: #fff;
    text-decoration: none;
  }
}

.navigation-list {
  display: flex;
  list-style: none;
}