@import "../assets/sass/_colors";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $MAIN_COLOR;
}

.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  padding: 10px;
  width: 200px;
  background: #262626;
}

.sidenav-content {
  padding: 20px;
  background-color: #303030;
}