<h2 class="genre-title">
  {{ genre | titlecase }}
</h2>
<ul class="movies-list" *ngIf="(movies$ | async)?.length > 0 else spinner">
  <li class="movies-list__movie" *ngFor="let movie of movies$ | async">
    <!-- <div 
      class="movies-list__movie-cover"
      [style.backgroundImage]="'url('+ postPath + movie.poster_path +')'"
      (click)="goToMoviePage(movie)">
    </div> -->
    <div class="movies-list__movie-cover" (click)="goToMoviePage(movie)">
    </div>
    <h3 class="movies-list__movie-title">{{ movie.title }}</h3>
    <p class="movies-list__movie-year">{{ movie.year }}</p>
  </li>
</ul>

<ng-template #spinner>
  <ul class="list-load">
    <li class="list-load__item" *ngFor="let item of loadArray">
      <div class="list-load__item-cover"></div>
      <p class="list-load__item-line"></p>
    </li>
  </ul>
</ng-template>