<h2 class="genre-title">
  {{ genreTitle }}
</h2>

<ul class="movies-list" *ngIf="movies?.length !== 0">
  <li class="movies-list__movie" *ngFor="let movie of movies">
    <!-- <img src='{{ postPath + movie.poster_path }}' /> -->
    <div 
      class="movies-list__movie-cover"
      [style.backgroundImage]="'url('+ postPath + movie.poster_path +')'"
      (click)="goToMoviePage(movie)">
    </div>
    <h3 class="movies-list__movie-title">{{ movie.title }}</h3>
    <p class="movies-list__movie-year">{{ movie.year }}</p>
  </li>
</ul>