@import "../../../assets/sass/_colors";

.signIn {
  display: flex;
  flex-direction: column;
}

.signIn-error {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 2px;
  background-color: $MAIN_COLOR;

  &__message {
    font-size: 12px;
    color: #fff;
  }
}