<ul class="sidenav__list">
  <li class="sidenav__list-item" *ngFor="let list of highlightedLists">
    <a class="sidenav__list-item__link" [routerLink]="['/movies', list.path]" routerLinkActive="sidenav__list-item__link--active">{{list.name}}</a>
  </li>
</ul>

<ul class="sidenav__list" *ngIf="genresList?.length !== 0">
  <li class="sidenav__list-item" *ngFor="let genre of genresList">
    <a class="sidenav__list-item__link" [routerLink]="['/movies', genre.path]" routerLinkActive="sidenav__list-item__link--active">{{genre.name}}</a>
  </li>
</ul>