.breadcrumb {
  display: flex;
  list-style: none;

  &__item {
    font-weight: 300;
    color: #fff;
    padding-right: 8px;

    > a {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}